@page "/payments/create/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class="card-title">Create New Payment</h3>
<hr />
<br />
<EditForm Model="@payment" OnValidSubmit="CreatePayment">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Method:</label>
        <div>
            <InputText @bind-Value="@payment.Method" class="form-control" />
            <ValidationMessage For="@(() => payment.Method)" />
        </div>
    </div>
    @*<div class="form-group">
        <label>Order: </label>
        <div>
            <InputSelect @bind-Value="payment.OrderId" class="form-control">
                <option value="">-- Select Order --</option>
                @if (Orders != null)
                {
                    foreach (var order in Orders)
                    {
                        <option value="@order.Id">
                            @order.Id
                            -
                            @order.Customer.Name
                        </option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => payment.OrderId)" />
        </div>
    </div>*@
    <button type="submit" class="btn btn-success btn-block">
        Create Payment
    </button>
</EditForm>


@code { 
    [Parameter] public int id { get; set; }
    Payment payment = new Payment();

    private IList<Order> Orders;
    protected async override Task OnInitializedAsync()
    {
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
    }

    private async Task CreatePayment()
    {
        payment.OrderId = id;
        payment.DateTime = DateTime.Now;
        await _client.PostAsJsonAsync(Endpoints.PaymentsEndpoint, payment);
        _navManager.NavigateTo("/payments/");
    } }
